<div class="container">
<div class="r_1 row">
    <div class="col-10 r_2">
        <h3 class="r_3"><%= @restaurant.name %></h3>
        <h4 class="r_4"> <%= @restaurant.name %></h4><br>
        <span class="r_5"> <%= @restaurant.special %></span><br>
        <span class="r_5"> <%= @restaurant.address %></span>  
    </div>
    <div class="icon-1 col-2">
      <span class="icon_1">&#9733;</span> <span class="icon_2"><%= @restaurant.rating %></span><br>
    </div>
</div>
</div>

<div class="b_4 container">
<div class="r_6 row  ">
  <% @items.each do |item| %>
    <div class="i_1 row">
    <div class=" i_3 col-10">
      <h5><%= item.name %></h5>
      <h6>₹<%= item.price %></h6>
      <p class="b_3"><%= item.description %></p>
    </div>
    <div class="i_2 col-2",  id="add-to-cart-btn">
      
    <div id="quantity-buttons-<%= item.id %>">
      <% if @cart.cart_items.where(item_id: item.id).exists? %>
        <%= render(:partial => 'carts/quantity_buttons', locals: { cart_item: @cart.cart_items.find_by(item_id: item.id), item: item, return_type: 'buttons'}) %>
      <% else %>
        <%= form_for(item, url: add_to_cart_cart_path(@restaurant, item_id: item.id), method: :post, remote: true) do |f| %>
          <%= f.hidden_field :item_id, value: item.id %>
          <%= f.submit "Add", class: "button" %>
        <% end %>
      <% end %>
    </div>
    </div>
    </div>
  <% end %>
</div>
</div>
</div>
