<!DOCTYPE html>
<html>
  <head>
    <title>Swiggy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

    <body>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>
    </body>
  </html>
